---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import coverImage from "@images/Imagen-1.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/Imagen-2.png";
import construction from "@images/Imagen-5.jpeg";
// import tools from "@images/automated-tools.avif";
import tools from "@images/Imagen-4.jpeg";
import dashboard from "@images/Imagen-6.jpeg";
import ContactSection from "@/components/sections/misc/ContactSection.astro";


const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  // Otros avatares...
];
---

<MainLayout>
  
 
  
  
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Descubre la experiencia en <span
        class="text-[#ffba0a] dark:text-[#ffba0a]">EnElGaraje</span>`
    subTitle="Innovadora aplicación diseñada para permitir a tu negocio crear y gestionar tu propia tienda online de manera rápida y eficiente."
    primaryBtn="Comienza a explorar"
    primaryBtnURL="https://backoffice.enelgaraje.com"
    secondaryBtn="Lista de Espera"
    secondaryBtnURL="/formulario"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={coverImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="¿Quiénes confían en nosotros?"
    subTitle="Experimente la fiabilidad elegida por ellos."
  />

  <FeaturesGeneral
    title="Satisfacer las demandas del cliente"
    subTitle="Nuestro objetivo es empoderar a pequeños emprendedores y comerciantes con herramientas intuitivas y accesibles, facilitando su presencia en el mundo digital."
    alt="Satisfacer las demandas del Cliente"
    src={featureImage}
    features={features}
  />

  <FeaturesNavs
    title=`Satisfacer las demandas del cliente <span class="text-[#ffba0a] dark:text-[#ffba0a]">EnElGaraje</span> es prioridad.`
    tabs={[
      {
        heading: "Equipo dedicado",
        content:
          "Benefíciese de nuestro comprometido equipo que garantiza que su éxito sea personal. Cuente con la orientación de expertos, asistencia por correo electrónico y chat en vivo según el plan.",
        svg: "groups",
        src: tools,
        alt: "Satisfacer las demandas del Cliente",
        first: true,
      },
      {
        heading: "Sencillez y asequibilidad",
        content:
          "Utilice nuestra app y descubra lo fácil que es vender sus productos en línea. Cuente con interfaz intuitiva y amigable. Configure su tienda en minutos.",
        svg: "verified",
        src: construction,
        alt: "Sencille,z y asequibilidad",
      },
      {
        heading: "Panel intuitivo",
        content:
          "Navegue con facilidad gracias a los intuitivos paneles de control de nuestra app. Configure y supervise sus productos sin problemas, con interfaces diseñadas para una gestión rápida y eficaz del flujo de trabajo.",
        svg: "dashboard",
        src: dashboard,
        alt: "Panel intuitivo",
        second: false,
      },
    ]}
  />

  
  <TestimonialsSection
  title="Testimonios"
  subTitle="Lo que nuestros Clientes opinan de su Tienda Online en nuestra Plataforma EnElGaraje."
  testimonials={[
    {
      content:
        "Una magnífica opción para promover y vender mis productos. Desde que estoy EnElGaraje han crecido mis ingresos, he podido llevar un control de mis finanzas, de mis Gestores, de mis ventas en general. Mi Tienda tiene visibilidad desde cualquier parte del mundo, y no ha sido difícil el manejo por parte nuestra de todas las funcionalidades que tiene.",
      author: "Yanelvis Ortiz Ortiz",
      role: "Propietaria de DevMarket Solutions",
      avatarSrc:
        "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    },
    // Agrega más testimonios aquí
    
    {
      content:
        "Excelente plataforma para gestionar mi tienda online. Muy fácil de usar y con un soporte increíble. Nos satisface la atención ante cualquier inquietud, la agilidad y amabilidad con el buen trato. Nuestro negocio ahora es mucho más rentable y próspero desde que estoy con EnElGaraje!",
      author: "Abel Barrios Maleta",
      role: "Presidente ViloTalleres Automotriz SURL",
      avatarSrc:
        "https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    },
  ]}
/>

  <PricingSection pricing={pricing} />

  <FAQ title="Preguntas frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Construyamos juntos"
    subTitle="Empieza a crear tu tienda online con la App EnElGaraje y lleva tu negocio al siguiente nivel. Utiliza nuestra app y descubre lo fácil que es vender tus productos en línea."
    url="https://backoffice.enelgaraje.com/"
  />
  <ContactSection />
    
  <!-- Botón flotante -->
  <button
    id="scroll-to-top"
    class="fixed bottom-8 right-8 p-3 bg-[#ffba0a] text-white rounded-full shadow-lg hover:bg-[#e0a800] transition-colors duration-200 hidden"
    aria-label="Volver al inicio"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 10l7-7m0 0l7 7m-7-7v18"
      />
    </svg>
  </button>

  <script>
    const scrollToTopButton = document.getElementById("scroll-to-top");
  
    if (scrollToTopButton) {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 300) {
          scrollToTopButton.classList.remove("hidden");
        } else {
          scrollToTopButton.classList.add("hidden");
        }
      });
  
      scrollToTopButton.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    }
  </script>
</MainLayout>
